$bg-white:#fff;
$bg-light:#f3f3f3;
$bg-dark:#2f2f2f;
$bg-db:#203966;
$bg-lb:#05e5ff;
$bg-1:#676565;
$bg-2:#aeafad;
$bg-3:#d8fcfd;
$bg-4:#8bf1fe;
$bg-5:#98f083;
$borderColor-1:#eeeeee;
$borderColor-2:#e0e0e0;
$borderColor-2:#c5c5c5;

